@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


.font-manrope {

    font-family: 'Manrope', sans-serif;
}


.dashed-section {

    outline: 2px dashed black;
}

.solid {
    outline: 2px solid black;
}

.dashed-box {
    outline: 1px dashed rgb(255, 255, 255);
    
}



.transition-css {

    transition: height, 0.3s ;    
    
}








